<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ApiKey" value="6348211640:AAGqZXDUbFpeQ_TtpsAt_-ekj8c421khBAM"/>
		<add key="URI" value="https://suggestions.dadata.ru/suggestions/api/4_1/rs/findById/party/"/>
		<add key="TokenWeb" value="c52f4914603e35b1dda2c4d0c56e6aa65dd8d1be"/>
		<add key ="Secret" value ="0ad9f87589db9db0f0e4ee10de0e29aed95bdd87"/>
	</appSettings>
</configuration>